h2
  margin-bottom 32px
  font-size 28px
h3
  margin 0
  font-size 20px
  color #222
  font-weight 400
p
  margin 8px 0 0 0
  font-size 14px
  color #888

.component-example
  margin 16px 0 40px 0
  border 1px solid #ebedf0
  border-radius 2px
  padding 24px